<script setup lang="ts">
import { computed, ref } from "vue";
import axios from "axios"; // import Axios

const Age = ref('');
const Weight = ref('');
const Height = ref('');
const Neck = ref('');
const Wrist = ref('');
const result = ref('');

const calBodyFat = async () => {
    const bodyfatData = {
        Age: parseInt(Age.value),
        Weight: parseFloat(Weight.value),
        Height: parseFloat(Height.value),
        Neck: parseFloat(Neck.value),
        Wrist: parseFloat(Wrist.value)
    };

    const response = await fetch("http://localhost:8000/predic", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(bodyfatData),
    });
    const resultData = await response.json();
    result.value = `${ resultData.prediction }`;
};
const formattedResult = computed(() => {
    return result.value ? parseFloat(result.value).toFixed(2) : '';
});

</script>

<template>
    <div class="container">
        <v-container>
            <v-row>
                <v-col cols="6">
                    <div>
                        <h1>Body Fat Calculator คำนวณปริมาณไขมันในร่างกาย</h1>
                        <p>แสดงรายการค่าประมาณเปอร์เซ็นต์ของไขมันในร่างกายที่กำหนด</p>
                        <div>
                            <label for="Age">Age: (ปี)</label>
                            <input type="text" v-model="Age">
                        </div>

                        <div>
                            <label for="Weight">Weight: (ปอนด์, Ibs)</label>
                            <input type="text" v-model="Weight">
                        </div>

                        <div>
                            <label for="Height">Height: (นิ้ว, inches)</label>
                            <input type="text" v-model="Height">
                        </div>

                        <div>
                            <label for="Neck">Neck circumference: (เส้นรอบวงคอ (ซม., cm))</label>
                            <input type="text" v-model="Neck">
                        </div>

                        <div>
                            <label for="Wrist">Wrist circumference: (เส้นรอบวงข้อมือ (ซม., cm))</label>
                            <input type="text" v-model="Wrist">
                        </div>
                        <div>
                            <button @click="calBodyFat">คำนวณ</button>
                            <div class="result-border">
                                <div class="center">Body Fat</div>
                                <div class="center" style="font-size: 25pt">
                                    {{ parseFloat(result).toFixed(2) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<style scoped>
.container {
    width: 500px;
    margin: auto;
}

.center {
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.result-border {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.th,
.td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}
</style>
